---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro'
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import Studies from '../components/Studies.astro';
import StudiesIcon from '../icons/Studies.astro'
import GitHubIcon from '../icons/Github.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import EmailIcon from '../icons/Email.astro';
---

<Layout title="Portfolio de Emma - Desarrolladora y Programadora Full Stack"
		description='Desarrollodora Full Stack en crecimiento'>
	<main>
		<SectionContainer class="pt-44 pb-24">

			<img class="rounded-full w-20 h-20 mb-4"
			src="../../public/img/YOP.jpeg" alt="Una foto de Emma">

			<h1 class="text-5xl font-bold flex flex-row gap-x-4 pb-10">
			Hola 🙂 soy Emma
				<a href="https://www.linkedin.com/in/emma-lanza-089861150/" 
				target="_blank" rel="noopener noreferrer"
				class="flex justify-center items-center"> 
					<Badge>Disponible para trabajar </Badge>
				</a>
			</h1>

			<h2 class="text-2xl text-wrap opacity-80">
				<span class="text-pink-300/90">Desarrolladora Full Stack en crecimiento 🌱</span>
				<br>De Asturias, Epaña.
			</h2>

			<nav class="flex gap-x-2 mt-8">
				<SocialPill href="https://www.linkedin.com/in/emma-lanza-089861150/">
					<LinkedInIcon/>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/emmalanza">
					<GitHubIcon/>
					GitHub
				</SocialPill>
				<SocialPill href="">
					<EmailIcon/>
					emmalanza@hotmail.com
				</SocialPill>
				
		
			</nav>

		</SectionContainer>

		<SectionContainer>
			<h2 class="text-2xl font-semibold mb-6">Educación</h2>
			<Studies />
		</SectionContainer>
	</main>
</Layout>
 

 