<article class="flex flex-col items-center justify-center gap-8
md:flex-row">
    <div class="[&>p]:mb-4 [&>p>strong]:text-pink-300/90 
    [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1" >

    <p>
        Soy una desarrolladora Full Stack, principalmente tengo formaci칩n en
        <strong>HTML, CSS, JAVASCRIPT, PHP y gesti칩n de bases de datos</strong>
        tanto reglada como autodidacta.
    </p>

    <p>
        Tambi칠n poseo conocimientos en FRAMEWORKS como 
        <strong>ASTRO y TailwindCSS.</strong>
        (Tecnolog칤as usadas para crear este portfolio 游뗶)
    </p>

    <p>
        Aunque mi experiencia laboral en los 칰ltimos a침os no se ha centrado
        en el 치rea del desarrollo, estoy deseando poder seguir aprendiendo y 
        tener la oportunidad de crecer en este sector.
    </p>

    </div>
</article>