---
import StudiesItem from './StudiesItem.astro';

const STUDIES = [
    {
        date: "2024",
        title: "CP - DESARROLLO DE APLICACIONES WEB - 600H",
        description: "Programación web en entornos cliente-servidor / Implantación de aplicaciones web en entornos internet, intranet y extranet.",
    },
    {
        date: "2018 / 2020",
        title: "FP II DESARROLLO DE APLICACIONES MULTIPLATAFORMA",
        description: "Desarrollar aplicaciones multiplataforma con acceso a bases de datos utilizando lenguajes, librerías y herramientas adecuados a las especificaciones.",
    },
]
---


<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
        STUDIES.map(s => (
        <li class="mb-10 ms-6">  
            <StudiesItem {...s}/>          
        </li>  
        ))
    }                  
            
</ol>

