
---
import TechItem from './TechItem.astro';

const TECHNOLOGIES = [
    {
         title: "HTML",
         icon: "/svg/logoHTML.svg"
    },
    {
         title: "CSS",
         icon: "/svg/logoCSS.svg"
    },
    {
         title: "JAVASCRIPT",
         icon: "/svg/logoJS.svg"
    },
    {
         title: "ASTRO",
         icon: "/svg/logoAstro.svg"
    },
    {
         title: "TAILWINDCSS",
         icon: "/svg/logoTailwind.svg"
    },
    {
         title: "MYSQL",
         icon: "/svg/logoMYSQL.svg"
    },
    {
         title: "PHP",
         icon: "/svg/logoPHP.svg"
    },
    {
         title: "SCRUM",
         icon: "/svg/logoSCRUM.svg"
    },
    {
         title: "GITHUB",
         icon: "/svg/logoGITHUB.svg"
    },
]
---


<ul class="flex flex-wrap items-center justify-center text-gray-900 dark:text-white">
   
        {
            TECHNOLOGIES.map(t => (
            <li class="flex items-center justify-center
            mb-10 ms-6 ">  
                <TechItem {...t}/>          
            </li>  
            ))
        } 

   
</ul>
